{% extends 'index.html' %}
{% block title %} Successfully registered {% endblock %}

{%block mainContent %}

<div class="container">
    <div class="row">
        <div>{{name}} successfully registerd. Lets create a Face ID.</div>
        <div>
            <img id="image" src="{{ url_for('video') }}" width=""50%>
        </div>
        <div>
            <a href="/registration_success" class="btn">Continue</a>
        </div>
    </div>
</div>

<script>
    /*var name1 = {name|tojson}};
    var url = "http://localhost:5000/add_new?name="+name1;
    document.getElementById('image').src = url;*/
</script>

{% endblock %}